.display-block {
    display: block;
}

.card-width {
    width: 800px;
    max-width: 800px;
}

mat-card {
    margin: 24px 0;
}

@media only screen and (max-width: 800px) {
    mat-card {
        margin: 0;
        padding: 0;
    }
}