<div fxLayout="row wrap" fxLayoutAlign="space-between center">
    <div fxLayout="column" fxFlex.xs="50%" fxFlex="25%"  fxLayoutAlign="center center">
        <h3>Perceel</h3>
        <span class="font-weight-normal">{{info.perceel}} m2</span>
    </div>
    
    <div fxLayout="column" fxFlex.xs="50%" fxFlex="25%"  fxLayoutAlign="center center">
       <h3>Wonen</h3>
       <span class="font-weight-normal">{{info.wonen}} m2</span>
    </div>
    
    <div fxLayout="column" fxFlex.xs="50%" fxFlex="25%"  fxLayoutAlign="center center">
        <h3>Kamers</h3>
        <span class="font-weight-normal">{{info.aantalKamers}}</span>
    </div>
    <div fxLayout="column" fxFlex.xs="50%" fxFlex="25%"  fxLayoutAlign="center center">
        <h3>Bouwjaar</h3>
        <span class="font-weight-normal">{{info.bouwjaar}}</span>
    </div>
</div>
