<div [class.dark-theme]="darkTheme"
     [class.light-theme]="!darkTheme"
     class="full-height background-color-theme position-relative">
     <span class="side-spacing sidebar" fxLayout="column">
       <mat-slide-toggle (toggleChange)="darkTheme = !darkTheme" color="accent" class="bottom-spacing">
         <label class="text-label">Dark Mode</label>
       </mat-slide-toggle>

       <button mat-raised-button (click)="loadNewListing()">Load new</button>
     </span>
  <router-outlet></router-outlet>
</div>