$primary: mat-palette($mat-deep-orange, 700, 300, 900);
$accent: mat-palette($mat-light-blue);
$warn: mat-palette($mat-deep-orange, A200);

$theme: mat-light-theme(
    $primary,
    $accent,
    $warn
);

$primary: mat-palette($mat-deep-orange, 700, 300, 900);
$accent: mat-palette($mat-light-blue);
$warn: mat-palette($mat-deep-orange, A200);

$dark-theme: mat-dark-theme(
    $primary,
    $accent,
    $warn
);